:root {
  font-family: monospace;
  color: #e0af68;
  margin: 0;
  box-sizing: border-box;
  background-color: #414868;
}

.page {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: #7aa2f7;
  font-size: 35px;
}

#firstp {
  margin-top: -20px;
}

#header42 {
  width: 100%;
}

h2 {
  font-size: 30px;
  color: #7aa2f7;
  width: 90%;
  border-bottom: 2px solid #807678;
  margin-bottom: 5px;
}

h3 {
  color: #f7768e;
  font-size: 20px;
  font-family: monospace;
  font-style: italic;
  margin-bottom: -10px;
}

#license {
  margin-top: 100px;
  border-top: 2px solid #807678;
}

.ex00 {
  margin-right: 50px;
}

.insert {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}



input {
  margin-left: -25px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid grey;
  outline: 1px solid grey;
  margin: 15px;
  border-radius: 10px;
  outline: none;
  background: rgba(0, 0, 0, 0.274);
  text-align: center;
  color: white;
}

button {
  outline: none;
  background-color: #e0af68;
  border: 2px solid #b45f3ab9;
  box-shadow: 0px 3px 5px grey;
  border-radius: 10px;
  color: white;
  width: 180px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}


.Rushes {
  display: flex;
  flex-direction: row;
}

#mostrar_grid {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2rem;
  padding: 10px;
  /* color: #e4ddb3; */
}

#mostrar_grid1 {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2rem;
  padding: 10px;
  /* color: #e4ddb3; */
}
